ion-toolbar {
  --background: var(--ion-color-dark);
  --color: white;
}

/* .data_selection:hover {
  cursor: pointer;
  color: rgb(219, 16, 16);
  background-color: blue;
} */

ion-item[class~="data_selection"]:hover {
  --background: #e9e9e9;
  --color: rgb(40, 28, 201);
  cursor: pointer;
}
